html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin:0;
  background-image:url(/Pics/Bakgrund1.2.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  width:100%;
  text-align:center;
  justify-content:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: center;
}

.transparent{
    
    background-color: rgba(255,255,255,0.9);
    width:70%;
    min-height:50rem;
}

.footer_footer {
    background-color: rgba(255,255,255,0.9);
    align-self: center;
    width: 70%;
    padding-bottom:5px;
}



